@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

a.active {
  @apply bg-red-900;

}


@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}