@import "tailwindcss";
@plugin "daisyui";


a.active {
  @apply bg-red-900;

}


@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}